<!DOCTYPE HTML>
<html>

<head>
    <title>v-if If Statements</title>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .special {
            background: yellow;
            border: 1px dotted #fe0000;
            padding: 30px;
            display: block;
            text-align: center;
        }

        .important {
            font-weight: bold;
            font-size: 30px;
        }
    </style>
</head>

<body>

    <div id="app">
        <span v-if="profile">
            <div>
                <span v-if="profile.pic">
                    <img v-bind:src="profile.pic" />
                </span>
                <span v-else>
                    No pic is found.
                </span>
            </div>
            <div>
                {{profile.fname}} {{profile.lname}}
            </div>
            <div>
                {{profile.desc}}
            </div>
            <div>
                <span v-if="profile.bio">
                    {{profile.bio}}
                </span>
                <span v-else>
                    No bio available.
                </span>
            </div>


        </span>
        <span v-else>
            No Profile Data found.
        </span>
    </div>

    <script>
        var app = new Vue({
            el: '#app',

            data: {

                profile: {
                    fname: "Sunny",
                    lname: "Chung",
                    desc: "female",
                    bio: "a full stack web developer.",
                    // bio: "",
                    pic: "https://solarsystem.nasa.gov/system/basic_html_elements/11561_Sun.png"
                    // pic: ""
                }
            }
        }); </script>

</body>

</html>